<html>
<head>
    <title>django select-list plugin</title>
</head>
<body>
<div class="row">
    <form role="form" method="post">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <label for="select-list">select list</label>
                <select id="select-list" name="category_name[]" multiple>
                    <option>ghuuu</option>
                    <option>my medicine</option>
                    <option>fhdf</option>
                    <option>Basmik</option>
                    <option>Basmik</option>
                    <option>Jsj</option>
                    <option>Coba</option>
                    <option>medicine002</option>
                    <option>Dolo</option>
                    <option>panadol</option>
                </select>
                <div>
                    <div>
                        <input type="text" class="search-input" autocomplete="off" placeholder=" search...">
                    </div>
                    <div>
                        <input type="text" class="search-input" autocomplete="off" placeholder=" search...">
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4"></div>
        </div>
    </form>
</div>
</body>
</html>